/* Start Game Board Styles */

:root {
    --card-width: 100px;
    --card-height: 130px;
}

#game-board-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin: 20px 0;
}

#log {
    width: 30%;
    height: 70vh;
    overflow: scroll;
}

#game-board {
    width: 100%;
    padding-inline: 10%;
    display: flex;
    flex-direction: column;
}

.ai-turn {
    pointer-events: none;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.card {
    width: var(--card-width);
    height: var(--card-height);
    border: 1px solid black;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    width: inherit;
    height: inherit;
    opacity: inherit;
    visibility: inherit;

    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        object-fit: contain;
        height: 100%;
        width: 80%;
    }
}

.back {
    background-color: red;
    transform: translateZ(2px);
}

.front {
    background-color: rgb(200, 200, 255);
    transform: rotateY(180deg);
}

.not-flipped {
    transform: rotate3d(0);
}

.flipped {
    transform: rotate3d(0, 1, 0, 180deg);
}

.flipping-open {
    animation-name: flip-open;
    animation-duration: 0.8s;
}

.flipping-close {
    animation-name: flip-close;
    animation-duration: 0.5s;
}

.found {
    animation-name: vanish;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    pointer-events: none;
}

@keyframes flip-open {
    from {
        transform: rotate3d(0);
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    to {
        scale: 1;
        transform: rotate3d(0, 1, 0, 180deg);
    }
}

@keyframes flip-close {
    from {
        transform: rotate3d(0, 1, 0, 180deg);
        scale: 1;
    }

    50% {
        scale: 1.1;
    }

    to {
        scale: 1;
        transform: rotate3d(0);
    }
}

@keyframes vanish {
    from {
        visibility: visible;
        opacity: 1;
    }

    to {
        visibility: hidden;
        opacity: 0;
    }
}

@media screen and (max-width: 900px) {
    .card {
        width: calc(var(--card-width) / 1.6);
        height: calc(var(--card-height) / 1.6);
    }
}

@media screen and (max-width: 768px) {
    .card {
        width: calc(var(--card-width) / 2);
        height: calc(var(--card-height) / 2);
    }

}

@media screen and (max-width: 600px) {
    .card {
        width: calc(var(--card-width) / 2.25);
        height: calc(var(--card-height) /2.25);
    }


    #game-board-container {
        flex-direction: column;
    }

    #log {
        width: 85%;
        height: 30vh;
    }

    #game-board {
        padding-inline: 0;
    }
}

@media screen and (max-width: 400px) {
    .card {
        width: calc(var(--card-width) / 2.5);
        height: calc(var(--card-height) / 2.5);
    }
}

/* End Game Board Styles */